<template>
    <div class="home" align="center">
        <p></p>
        <Home msg="Bienvenido a la Tienda !"/>

            <img src="https://compunetway.webnode.es/_files/200000437-28c9729c0e/T29820130607largeNote1.jpg"/>

        <li class="active"><a href="inventario"><b> INVENTARIO </b><span class="sr-only">(current)</span></a></li>
        <li><a href="tienda"><b > TIENDA </b></a></li>


    </div>
</template>

<script>
// @ is an alias to /src
import Home from '@/components/Homes.vue'

export default {
    name: 'Homes',
    components: {
    Home
    }
}
</script>