<template>
  <div class="home">
    <Inventario msg="Inventario"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Inventario from '@/components/Inventarios.vue'

export default {
  name: 'Inventarios',
  components: {
    Inventario
  }
}
</script>
