<template>
    <div >
        <Tienda/>
    </div>
</template>



<script>
// @ is an alias to /src
import Tienda from '@/components/Tiendas.vue'

export default {
    name: 'Tiendas',
    components: {
        Tienda
    },   
}
</script>
