<template>
  <div class="hello mt-5">
    <h1 align="center">{{ msg }}</h1>
    <br>

    <div align="center">
      <b-button v-b-modal.modal-1>Añadir Productos</b-button>
        <b-modal id="modal-1" title="Productos - Inventario" hide-footer>
            <form>
              <b-row>
                <b-col sm="3">
                  <label for="nombre">Nombre: </label>
                </b-col>

                <b-col sm="9">
                  <b-form-input id="nombre" type="text" v-model="nombre" :state="comprobar1"></b-form-input>
                  <small>Campo Obligatorio</small>
                  <p></p>
                </b-col>
                
                <b-col sm="3">
                  <label for="descripcion">Descripcion: </label>
                </b-col>

                <b-col sm="9">
                  <b-form-input id="descripcion" type="text" v-model="descripcion" :state="comprobar2"></b-form-input>
                  <small>Campo Obligatorio</small>
                  <p></p>
                </b-col>

                <b-col sm="3">
                  <label for="precio">Precio: </label>
                </b-col>

                <b-col sm="9">
                  <b-form-input id="precio" type="number" v-model="precio" :state="comprobar3"></b-form-input>
                  <small>CLP </small>
                  <p></p>
                </b-col>

                <b-col sm="3">
                  <label for="cantidad">Cantidad: </label>
                </b-col>

                <b-col sm="9">
                  <b-form-input id="cantidad" type="number" v-model="cantidad" :state="comprobar3"></b-form-input>
                  <small>Minimo 1 </small>
                  <p></p>
                </b-col>

                <b-col sm="3">
                  <label for="file-default">Imagen: </label>
                </b-col>

                <b-col sm="9">
                  <b-form-file id="file-default" v-model="imagen" placeholder="Seleccionar imagen (opcional)" browse-text="Buscar"></b-form-file>
                  <p></p>
                </b-col>

              </b-row>
            </form>

          
              <div align="center "> <b-button type="submit" variant="primary" @click="agregar"> Añadir </b-button> </div>
        </b-modal>
    </div>
    <br>
    <div class="mt-2">
  
      <div class="mt-3">
        <b-table striped hover :items="producto" :fields="fields" >
            <template v-slot:cell(index)>

      </template>

              <template v-slot:cell(but)="dat">
                <b-button size="sm" class="mr-2" @click="editar(dat.index)"> Editar </b-button>
              </template>


              <template v-slot:cell(eli)="dat2">
                <b-button size="sm" class="mr-2" @click="borrar(dat2.index)"> Borrar </b-button>
              </template>


        </b-table>
            
      </div>
    </div>
</div>
</template>





<script>

import Tiendas from '@/components/Tiendas.vue'
import { mapState, mapGetters, mapMutations, mapActions} from "vuex";


export default {
  name: 'Tabla',
  props: {
    msg: String,
    
  },
  data(){
    return{
      nombre: '',
      descripcion: '',
      precio: 0,
      cantidad: 0,
      producto : [],
      imagen: null,
      fields: [
              {key:'index', label:''},
              {key: 'nomb', label: 'Nombre'},
              {key: 'desc', label: 'Descripcion'},
              {key: 'pre', label:'Precio'},
              {key: 'cant', label: 'Stock'},
              {key: 'but', label:''},
              {key: 'eli', label:''}]
    }
  },

  methods:{

    agregar(){
    
      if(this.comprobar1===true && this.comprobar2===true && this.comprobar3==true){
        this.producto.push({
        nomb : this.nombre,
        desc : this.descripcion,
        pre :  '$'+this.precio,
        cant: this.cantidad
        
      });
      }
      this.nombre = ''
      this.descripcion = ''
      this.precio = 0 
      this.imagen = null
      this.cantidad = 0

      localStorage.setItem('base-vue', JSON.stringify(this.producto));


      let datos = JSON.parse(localStorage.getItem('base-vue'));
      for(let info of datos){
        let miNodo = document.createElement('div');
        miNodo.classList.add('card','col-sm-4');

        let miNodoCardBody = document.createElement('div');
        miNodoCardBody.classList.add('card-body');
        
        let miNodoTitle = document.createElement('h5');
        miNodoTitle.classList.add('card-title');
        miNodoTitle.textContent = info['nombre'];

        miNodoCardBody.appendChild(miNodoTitle);
      }

    },

  
    editar(index){

      let dato1 = JSON.parse(localStorage.getItem('base-vue'));

    var opcion1;
    opcion1 = prompt("Introduzca el nuevo precio","precio");

    if(opcion1 === null || opcion1 ==='' || isNaN(opcion1)){
        alert("Error, intente nuevamente");

    }else{
        dato1[index].pre = '$'+ opcion1;
        localStorage['base-vue'] = JSON.stringify(dato1);

        let datosDB = JSON.parse(localStorage.getItem('base-vue'));
            if(datosDB === null){
                this.producto =[];
            }else{
                this.producto = datosDB;
            }
    }
    },

    borrar(index){

    var opcion1;
    opcion1 = confirm("¿ Está seguro que desea eliminar el producto ?");

    if(opcion1 === true){
      let dato1 = JSON.parse(localStorage.getItem('base-vue'));

    dato1.splice(index,1);

    localStorage['base-vue'] = JSON.stringify(dato1);

    let datosDB = JSON.parse(localStorage.getItem('base-vue'));
        if(datosDB === null){
            this.producto =[];
            
        }else{
            this.producto = datosDB;
        }
    }


    }

    
  },
  computed:{

    comprobar1(){
      return this.nombre === '' ? false : true 
    },
    comprobar2(){
      return this.descripcion === '' ? false : true
    },
    comprobar3(){
      return this.precio <= 0 ? false : true
    },
  },

  created(){
    let datosDB = JSON.parse(localStorage.getItem('base-vue'));
    if(datosDB === null){
      this.producto =[];

    }else{
      this.producto = datosDB;
    }
  }
}
</script>
