<template>
    <div id="bajara" class="mt-5">

        
        
                <b-card-group columns>
                    <b-card align="center" class="mb-2" v-for="(item,index) in productos" :key="index">
                        <h3> {{item.nomb}}</h3>
                        <img src="https://linube.com/blog/wp-content/uploads/error-404.jpg" alt="Responsive image" style="max-width: 15rem;" > 
                        <p></p>
                        <p>{{item.desc}} </p>
                        <p></p>
                        <h4>{{item.pre}}</h4>
                        <p></p>
                        <p>Stock Disponible: {{item.cant}}</p>


                                <div align="center">
                                    <b-button variant="dark" class="mr-6" @click="agregarCarro(index)">Agregar</b-button>
                                </div> 
                    </b-card>
                </b-card-group>
    </div>

</template>


<script>

export default {
    name: 'Carta',
    props: {
    },
    data(){
        return{
            productos:[],
            carro:[],
            precioTotal1:0,
            historial:[],
        }

    },
    methods: {


    agregarCarro(index){

    let dato1 = JSON.parse(localStorage.getItem('base-vue'));

    this.carro.push({
        nomb : dato1[index].nomb,
        desc : dato1[index].desc,
        pre :  dato1[index].pre,
        cant: dato1[index].cant,
        
    });

    localStorage.setItem('carro-vue', JSON.stringify(this.carro));




    let datos = JSON.parse(localStorage.getItem('carro-vue'));

        for(let info of datos){
            var precioTot = info['pre'];
            var w = info['pre'].replace('.', '')
            var h = parseInt(w.replace('$', ''))

            
        }
        this.precioTotal1 = h
        this.historial.push(this.precioTotal1)
        localStorage.setItem('historial-vue', JSON.stringify(this.historial));

        location.reload();
    },


    
    editar(index){
    let dato1 = JSON.parse(localStorage.getItem('base-vue'));

    var opcion1;
    opcion1 = prompt("Introduzca el nuevo precio","precio");
    if(opcion1 === null || opcion1 ==='' || isNaN(opcion1)){
        alert("Error, intente nuevamente");
    }else{
        dato1[index].pre = '$'+opcion1;

        localStorage['base-vue'] = JSON.stringify(dato1);

        let datosDB = JSON.parse(localStorage.getItem('base-vue'));
            if(datosDB === null){
                this.productos =[];
            }else{
                this.productos = datosDB;
            }
    }
    },
    borrar(index){
    let dato1 = JSON.parse(localStorage.getItem('base-vue'));

    dato1.splice(index,1)

    localStorage['base-vue'] = JSON.stringify(dato1);

    let datosDB = JSON.parse(localStorage.getItem('base-vue'));
        if(datosDB === null){
            this.productos =[];
            
        }else{
            this.productos = datosDB;
        }
    }
},
    created(){
        let datosDB = JSON.parse(localStorage.getItem('base-vue'));
        if(datosDB === null){
            this.productos =[];
            
        }else{
            this.productos = datosDB;
        }

    let datosDB2 = JSON.parse(localStorage.getItem('carro-vue'));
        if(datosDB2 === null){
            this.carro =[];
            
        }else{
            this.carro = datosDB2;
        }

    let datosDB3 = JSON.parse(localStorage.getItem('historial-vue'));
        if(datosDB3 === null){
            this.historial =[];
            
        }else{
            this.historial = datosDB3;
        }





    }
    
    
    
}
</script>