<template>
  <div id="app">
    
    <b-navbar toggleable="md" type="dark" variant="dark">
      <b-container>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-navbar-brand href="#">Taller 2 - Vue Cli</b-navbar-brand>


        <b-collapse is-nav id="nav-collapse">

          <b-navbar-nav>
            <b-nav-item :to="{name: 'Inventario'}">Inventario</b-nav-item>
            <b-nav-item :to="{name: 'Tienda'}">Tienda</b-nav-item>
          </b-navbar-nav>  
        </b-collapse>


      </b-container>

      <b-button v-b-toggle.sidebar-variant><img src="https://image.flaticon.com/icons/png/512/107/107831.png" width="25" height="25"></b-button>
    <b-sidebar id="sidebar-variant" title="Carrito de Compras" bg-variant="dark" text-variant="light" shadow right>
      <div class="px-3 py-2">
        <main id="items" class="col-sm-8 row"></main>
                <!-- Carrito -->
                <aside class="col-sm-4">
                    <h4>Productos</h4>
                    <hr>
                    <!-- Elementos del carrito -->
                    <p v-for="(item,index) in carrito" :key="index">
                      {{item.nomb}}
                      {{item.pre}}</p>

                
                    <hr>
                    <!-- Precio total -->
                    <p class="text-right">Total: <span id="total">  </span>&dollar; {{/*precioGlobal*/ totali}} </p> 
                    <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
                </aside>
      </div>
    </b-sidebar>
  
    </b-navbar>


    <b-container>
      <router-view/>
    </b-container>


  </div>
</template>

<script>

import { mapState, mapGetters, mapMutations, mapActions} from "vuex";

export default {

data(){
    return{
      carrito:[],
    }
  },

  computed:{
    ...mapGetters(['calculo']),
    ...mapGetters(['totali']),

  },

  methods:{



  },
created(){
    let datosDB = JSON.parse(localStorage.getItem('carro-vue'));
    if(datosDB === null){
      this.carrito =[];

    }else{
      this.carrito = datosDB;
    }
  }
}
</script>
  